<div class="row">
  <div class="col-sm-3 mt-3">
    <product-filter [category]="categoryName"></product-filter>
  </div>
  <div class="col-sm-9 mt-3">
    <div class="row">

      <div class="mx-auto">
        <button class="btn btn-secondary mx-2" (click)="show1()">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-table"
               viewBox="0 0 16 16">
            <path
              d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
          </svg>
        </button>
        <button class="btn btn-secondary mx-2" (click)="show2()">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
               class="bi bi-filter-square-fill" viewBox="0 0 16 16">
            <path
              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm.5 5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1 0-1zM4 8.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm2 3a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </button>
      </div>

      <ng-container *ngIf="viewProduct">
        <ng-container *ngFor="let product of filteredProducts; let i=index">
          <div class="col-sm-6">
            <product-card [product]="product" [show-action]=true></product-card>
          </div>
          <div *ngIf="(i+1) % 2 ===0" class="w-100"></div>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="!viewProduct">

        <table mat-table [dataSource]="dataSource" class="table table-hover mat-elevation-z8">
          <ng-container matColumnDef="productName">
            <th mat-header-cell *matHeaderCellDef>Nazwa produktu</th>
            <td mat-cell *matCellDef="let product">
              <product-cart2 [product]="product"></product-cart2>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let product; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20, 40]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </ng-container>

    </div>
  </div>
</div>


