<h1>Twój koszyk</h1>
<ng-container *ngIf="order">
  <p>Koszyk zawiera {{quantity}} produktów.</p>
</ng-container>
<table class="table">
  <thead>
  <tr>
    <th>Product</th>
    <th>Ilość</th>
    <th>Cena</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cart of order?.carts">
    <td>{{cart.product.productName}}</td>
    <td><ng-container *ngIf="cart.count>0"><product-quantity [product]="cart.product"></product-quantity></ng-container></td>
    <td>{{(cart.count * cart.product.productPrice) | currency:'PLN ':true}} </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <th></th>
    <th></th>
    <th>{{(totalCost()) | currency:'PLN ':true}}</th>
  </tr>
  </tfoot>
</table>
<button class="btn btn-danger btn-sm" (click)="clearCart()">Wyczyść koszyk</button>




