<h1>Twój koszyk</h1>
<ng-container *ngIf="cart">
  <p>Koszyk zawiera {{quantity}} produktów.</p>
</ng-container>

<table class="table">
  <thead>
  <tr>
    <th></th>
    <th>Produkt</th>
    <th>Ilość</th>
    <th class="text-end">Cena</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cartItem of cart?.carts">
    <td><img [src]="cartItem.product.productImageUrl" alt="..." class="thumbnail"></td>
    <td>{{cartItem.product.productName}}</td>
    <td><ng-container *ngIf="cartItem.count>0">
      <product-quantity [product]="cartItem.product" [cartItem]="cartItem" (eventCartItem)="getCartItem($event)"></product-quantity>
    </ng-container></td>
    <td class="text-end">{{(cartItem.count * cartItem.product.productPrice) | currency:'PLN ':true}} </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th class="text-end">{{(totalCost()) | currency:'PLN ':true}}</th>
  </tr>
  </tfoot>
</table>
<a *ngIf="quantity>0" class="btn btn-primary btn-sm m-2" routerLink="/user/check-out">Złóż zamówienie</a>
<button *ngIf="quantity>0" class="btn btn-warning btn-sm m-2" (click)="clearCart()">Wyczyść koszyk</button>




