<nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Eleventh navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <path d="M16 9.026v-1.651c-0.646 0.047-1.005 0.391-1.318 0.948l-6.854 13.969h3.286l-1.005-1.276 0.87-1.818 0.005 0.005 5.016-10.172zM14.036 17.495h3.927l-1.964-4.063zM10.979 19.219h0.021l-0.016-0.016zM17.964 17.495v0.005zM28.661 6.755l-10.979-6.344c-0.927-0.536-2.438-0.536-3.365 0l-10.979 6.344c-0.922 0.531-1.682 1.839-1.682 2.906v12.677c0 1.073 0.76 2.375 1.682 2.906l10.979 6.344c0.927 0.536 2.438 0.536 3.365 0l10.979-6.354c0.922-0.521 1.677-1.844 1.677-2.901v-12.672c0-1.068-0.755-2.375-1.677-2.906zM20.573 22.823l-0.917-1.849h-7.333l-0.896 1.849h-4.38l7.198-14.714c0.406-0.807 1.036-1.198 1.755-1.198s1.38 0.438 1.755 1.187l7.193 14.724zM16 9.026v3.297l3.359 6.901h-8.359l1.010 1.25h7.964l0.896 1.802h3.302l-2.276-1.318v0.052l-5.896-11.984z"/>
      </svg>shop
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09"
            aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample09">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-cart">
            Koszyk
            <span class="badge text-bg-warning">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart"
                   viewBox="0 0 16 16"><path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>
              {{quantity}}
            </span>
          </a>
        </li>
        <li *ngIf="!authService.isLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/login">Zaloguj się</a>
        </li>
        <li *ngIf="authService.isLoggedIn()" ngbDropdown class="nav-item dropdown ">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
             aria-expanded="false">{{authService.currentUser()}}</a>
          <ul ngbDropdownMenu class="dropdown-menu ">
            <li><a ngbDropdownItem class="dropdown-item" routerLink="/user/orders">Moje zamówienia</a></li>
            <ng-container *ngIf="authService.isAdmin()">
              <li><a ngbDropdownItem class="dropdown-item" routerLink="/admin/orders">Zarządzaj zamówieniami</a></li>
              <li><a ngbDropdownItem class="dropdown-item" routerLink="/admin/products">Zarządzaj produktami</a></li>
            </ng-container>
            <li><a ngbDropdownItem class="dropdown-item" (click)="logout()">Wyloguj się</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/info">Informacje</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



