<div class="card">
  <img [src]="product.productImageUrl" *ngIf="product.productImageUrl" class="card-img-top" [alt]="product.productName">
  <div class="card-body">
    <h5 class="card-title">{{product.productName}}</h5>
    <p class="card-text">{{product.productPrice | currency:'PLN'}}</p>
  </div>
  <div class="card-footer" *ngIf="showAction">
    <button *ngIf="cart.count===0; else updateBlock" class="btn btn-secondary w-100" (click)="addToCart()">Dodaj do
      koszyka
    </button>
    <ng-template #updateBlock>
      <div class="row">
        <div class="col-2">
          <button class="btn btn-secondary btn-block" (click)="addToCart()">+</button>
        </div>
        <div class="col text-center">
          Szt. {{cart.count}}
        </div>
        <div class="col-2">
          <button class="btn btn-secondary btn-block" (click)="removeFromCart()">-</button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
