<div class="row">
  <div class="col-sm-6">
    <form [formGroup]="form" (ngSubmit)="create()">
      <h2>
        Dodaj produkt
      </h2>
      <div class="mb-2">
        <label class="form-label" for="productName">Nazwa produktu:</label>
        <input class="form-control" formControlName="productName" type="text" id="productName"
               placeholder="Wpisz nazwę produktu" name="productName">
        <div class="alert alert-danger" *ngIf="form.get('productName')?.touched && form.get('productName')?.invalid">
          Nazwa produktu jest wymagana.
        </div>
      </div>
      <div class="mb-2">
        <label class="form-label" for="productPrice">Cena:</label>
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1">zł</span>
          <input class="form-control" formControlName="productPrice" type="number" id="productPrice"
                 placeholder="Wpisz cenę" name="productPrice">
        </div>
        <div class="alert alert-danger" *ngIf="form.get('productPrice')?.touched && form.get('productPrice')?.invalid">
          <div *ngIf="form.get('productPrice')?.getError('required')">Cena produktu jest wymagana.</div>
          <div *ngIf="form.get('productPrice')?.getError('min')">Cena musi być większa od zera</div>
        </div>
      </div>
      <div class="mb-2">
        <label class="form-label" for="productImageUrl">Adres URL zdjęcia:</label>
        <input class="form-control" formControlName="productImageUrl" type="text" id="productImageUrl"
               placeholder="Podaj adres url zdjęcia" name="productImageUrl">
        <div class="alert alert-danger"
             *ngIf="form.get('productImageUrl')?.touched && form.get('productImageUrl')?.invalid">
          <div *ngIf="form.get('productImageUrl')?.getError('required')">Adres URL zdjęcia jest wymagane.</div>
          <div *ngIf="form.get('productImageUrl')?.getError('url')">Proszę, wpisz prawidłowy adres url</div>
        </div>
      </div>
      <div formGroupName="category" class="mb-2">
        <label class="form-label" for="category">Wybierz kategorie:</label>
        <select class="form-select" formControlName="categoryName" id="category" name="category">
          <option></option>
          <option *ngFor="let category of categories" [value]="category.categoryName">{{category.categoryName}}</option>
        </select>
        <div class="alert alert-danger" *ngIf="form.get('category')?.touched && form.get('category')?.invalid">
          Kategoria produktu jest wymagana.
        </div>
      </div>
      <div class="mb-2">
        <label class="form-label" for="productDescription">Opis produktu:</label>
        <textarea class="form-control" formControlName="productDescription" id="productDescription"
                  name="productDescription" rows="3"></textarea>
        <div class="alert alert-danger"
             *ngIf="form.get('productDescription')?.touched && form.get('productDescription')?.invalid">
          Opisz produkt.
        </div>
      </div>

      <button class="btn btn-primary m-2" type="submit">Zapisz produkt</button>
      <button class="btn btn-warning m-2" type="button" (click)="delete()">Usuń</button>
    </form>
  </div>

  <div class="col-sm-6">
    <product-card [product]="this.form.value" [show-action]=false></product-card>
  </div>
</div>


