<div class="row">
  <div class="col-sm-8 mt-3 mb-3">
    <form [formGroup]="form" (ngSubmit)="signIn()">
      <h2>
        Proszę, zaloguj się.
      </h2>

      <div *ngIf="invalidLogin" class="alert alert-danger">
        Nieprawidłowa nazwa użytkownika lub hasło.
      </div>

      <label class="form-label" for="username">Nazwa użytkownika</label>
      <input class="form-control" formControlName="username" id="username" placeholder="Wpisz login użytkownika">

      <label class="form-label" for="password">Hasło</label>
      <input class="form-control" formControlName="password" id="password" placeholder="Wpisz hasło użytkownika">

      <button class="btn btn-lg btn-primary mb-3 mt-3" type="submit">Zaloguj się</button>

    </form>
  </div>
  <div class="col-sm4"></div>
</div>


