<div class="row">
  <div class="col-sm-6 m-2">
    <form [formGroup]="form" (ngSubmit)="signIn()">
      <h2>
        Proszę, zaloguj się.
      </h2>
      <div *ngIf="invalidLogin" class="alert alert-danger">
        Nieprawidłowa nazwa użytkownika lub hasło.
      </div>
      <div class="mb-2">
        <label class="form-label" for="username">Nazwa użytkownika:</label>
        <input class="form-control" formControlName="username" id="username" placeholder="Wpisz login użytkownika">
      </div>
      <div class="mb-2">
        <label class="form-label" for="password">Hasło:</label>
        <input class="form-control" formControlName="password" id="password" placeholder="Wpisz hasło użytkownika">
      </div>
      <button class="btn btn-lg btn-primary m-2" type="submit">Zaloguj się</button>
    </form>
  </div>
</div>


