<p>
  <a routerLink='/admin/products/product-form' class="btn btn-primary">Dodaj produkt</a>
</p>
<div>
<mat-form-field>
  <mat-label>Szukaj</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="..." #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="table table-hover mat-elevation-z8" matSort (matSortChange)="announceSortChange($event)">
  <ng-container matColumnDef="productName" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">Nazwa produktu</th>
    <td mat-cell *matCellDef="let product"> {{product.productName}} </td>
  </ng-container>

  <ng-container matColumnDef="productPrice">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by price">Cena</th>
    <td mat-cell *matCellDef="let product">
      {{product.productPrice}}
    </td>
  </ng-container>

  <ng-container matColumnDef="edytuj">
    <th mat-header-cell *matHeaderCellDef>Edytuj</th>
    <td mat-cell *matCellDef="let product" routerLink="">
      <button class="btn btn-secondary" [routerLink]="['/admin/products/',product.productId]">Edytuj</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let product; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 20, 40]"
               showFirstLastButtons
               aria-label="Select page of periodic elements">
</mat-paginator>
</div>


