
<div class="m-4 h6">
<div class="m-2">
  Strona jest demonstracyjną wersją aplikacji służącą jedynie zaprezentowaniu możliwości danego oprogramowania.
  Pozwala na przetestowanie funkcji i poznanie mechaniki działania.
  Składane zamówienia nie są w żaden sposób wiążące a  produkty umieszczone na stronie są jedynie modelami służącymi testowaniu apliakcji.
</div>
  <div class="m-2">
    Konto administracyjne pozwala na szczegółowe testowanie aplikacji i pozannie wszystkich możliwości.
    </div>
  <ul>
    <li>Login: admin</li>
    <li>Hasło: admin</li>
  </ul>


</div>
